body{
	background:#f8f8f8;
}
#heading{
	text-align:center;
	border:1px none white;
	background: #f8f8f8;
	padding:1%;
	margin-bottom:20px;
}
.book-library{
	background:white;
}
.book{
	background:#f8f8f8;
	padding:1%;
}
#img{
  margin-left:35%;
}
.price{
	text-align:center;
	border:1px solid green ;
	background:green;
	color:white;
}
.book{
	margin-bottom:20px;
	width:100%;
}